.login-page-content{
     position: relative;
     text-align: center;
     .container{
          margin: 0;
          position: absolute;
          top: 40%;
          left: 50%;
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          .link{
               text-decoration: none;
               .logo{
                    width: 100px;
                    margin: 10px auto;
               }
               .title{
                    font-family:Verdana, Geneva, Tahoma, sans-serif;
                    display: block;
                    color: #000;
                    font-size: 12px;
                    margin: 10px auto 100px auto;
                    width: 70%;
                    white-space: wrap;
                    .org{
                         display: block;
                         font-weight: bold;
                    }
                    .site{
                         color: #838383;
                         margin: 10px auto;
                         display: block;
                    }
               }
          }
          .login-btn{
               --background: none;
               border: none;
               --box-shadow: none;
               img{
                    border-radius: 10px;
                    width: 180px;
                    border: 1px solid #e6e6e6;
               }
          }
     }
}