.header {
	.toolbar {
		.content-container {
			display: flex;
			.logo {
				width: 40%;
				padding: 20px;
				.logo-link {
					text-decoration: none;
					color: #fff;
					.navbrand {
						padding: 0 10px;
					}
				}
			}
			.navmenu {
				margin: auto;
				text-align: right;
				.list {
					list-style: none;
					display: flex;
					.item {
						margin: 0 20px;
					}
				}
			}
		}
	}
}

// //1440
// @media screen and (max-width: 2559px) {}

// //1024
// @media screen and (max-width: 1439px) {}

//768
@media screen and (max-width: 1023px) {
	.header {
		.toolbar {
			.content-container {
				display: block;
				.logo {
					width: 100%;
					display: flex;
					justify-content: center;
				}
				.navmenu {
					.list {
						justify-content: center;
					}
				}
			}
		}
	}
}

//425
@media screen and (max-width: 767px) {
     .header {
		.toolbar {
			.content-container {
				background: #000000;
                    border:1px solid red;
			}
		}
	}
}

//375
@media screen and (max-width: 424px) {
     .header {
		.toolbar {
			.content-container {
				background: #09ff00;
                    border:1px solid #3700ff;
			}
		}
	}
}

//320
@media screen and (max-width: 374px) {}