@import "./components/header.scss";
@import "./components/hero.scss";
@import "./components/section3.scss";
@import "./components/footer.scss";

@import "./pages/login.scss";
@import "./pages/home.scss";